---
import BaseLayout from '../layouts/BaseLayout.astro';
import Article from '../components/Article.astro';
import Tags from '../components/Tags.astro';
import Tweets from '../components/Tweets.astro';
import { getAllPosts } from '../lib/posts.js';

const allPosts = (await getAllPosts()).filter(
  (a) => new Date(a.date) <= new Date()
);
const allTags = [
  ...new Set(
    allPosts.reduce((prev, post) => {
      prev = prev.concat(post.tags);
      return prev;
    }, [])
  ),
];
---

<BaseLayout
  title=""
  description=""
>
  <header class="container mx-auto my-6">
    <h1 class="mb-8 text-4xl font-extrabold text-slate-400 dark:text-white">
      The Bio Page!
    </h1>
  </header>

  <section
    class="py-8 mb-10 -mx-4 bg-white border-t border-b border-gray-200 dark:bg-dark dark:border-slate-700"
  >
    <div class="container md:mx-auto">
      <article
        class="mx-4 prose prose-lg md:prose-xl dark:prose-invert md:mx-auto"
      >
        <p>
          Coming soon.... ok I hate writing these things lol!
        </p>
        
        </div>
      </article>
    </div>
  </section>

  
</BaseLayout>
