---
import BaseLayout from '../layouts/BaseLayout.astro';
import Subscribe from '../components/Subscribe.astro';
import Stats from '../components/Stats.astro';
import Article from '../components/Article.astro';
import Tweets from '../components/Tweets.astro';
import { getAllPosts } from '../lib/posts.js';
const allPosts = (await getAllPosts())
  .filter((a) => new Date(a.date) <= new Date())
  .sort((a, b) => b.date.localeCompare(a.date));
const latest = allPosts.filter((post) => !post.draft).slice(0, 4);
const topPost = allPosts.filter((a) => a.top);
---

<BaseLayout
  title='Nick Lewis - Programming, Photography and Music'
  description='This is where the three technologies come together and I want to articulate the ways you can explore all of these through the power of code.'
  showSubscribe={false}
>
  <header class='container mx-auto my-6'>
    <h1 class='mb-8 text-4xl font-extrabold text-slate-400 dark:text-white'>
      Programming, Photography and Music
    </h1>   
  </header>

  <section
    class='border-gray-200 md:bg-white md:dark:bg-dark md:-mx-4 border-top-0 md:border-t md:dark:border-slate-700 md:pt-8'
  >
    <div class='container mx-auto '>
      <h2
        class='mb-2 text-sm tracking-wider text-gray-700 uppercase md:normal-case dark:text-white md:mb-0 md:text-2xl md:font-bold '
      >
        My 4 latest articles
      </h2>
    </div>
  </section>
  <section
    class='-mx-4 bg-white border-t border-gray-200 dark:border-slate-700 dark:bg-dark md:border-t-0 md:dark:border-slate-700'
  >
    <div class='container md:mx-auto'>
      <div class='grid grid-cols-1 mx-0 md:-mx-4 md:grid-cols-2'>
        {latest.map((article) => <Article article={article} />)}
      </div>
    </div>
  </section>
  <section
    class='mt-6 border-gray-200 md:mt-0 md:bg-white md:dark:bg-dark md:-mx-4 border-top-0 md:dark:border-slate-700 md:pt-8'
  >
    <div class='container mx-auto '>
      <h2
        class='mb-2 text-sm tracking-wider text-gray-700 uppercase md:normal-case dark:text-white md:mb-0 md:text-2xl md:font-bold '
      >
        Featured posts
      </h2>
    </div>
  </section>
  <section
    class='mb-10 -mx-4 bg-white border-t border-b border-gray-200 dark:border-slate-700 dark:bg-dark md:border-t-0 md:dark:border-slate-700'
  >
    <div class='container md:mx-auto'>
      <div class='grid grid-cols-1 mx-0 md:-mx-4 md:grid-cols-2'>
        {topPost.map((article) => <Article article={article} />)}
      </div>
    </div>
    <div class='flex px-4 py-4 text-left md:justify-center'>
      <a
        href='/archive/'
        class='font-medium text-barbie hover:underline underline-offset-2'
        >See all {allPosts.length} articles
      </a>
    </div>
  </section>  
</BaseLayout>
